.mat-column-username {
    color: cyan
}

.mat-mdc-cell {
    border: 1px solid transparent;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-top: 1px solid cyan;
    border-bottom: 1px solid cyan;
}

.mat-mdc-row {
    height: 20px;
}